---

instance_groups:
  - name: concourse
    jobs:
      - name: web
        properties:
          github_auth:
            client_id: (( grab $GITHUB_CLIENT_ID ))
            client_secret: (( grab $GITHUB_CLIENT_SECRET ))
          main_team:
            auth:
              config: |+
                roles:
                - name: owner
                  local:
                    users:
                    - admin
                  github:
                    users:
                    - AP-Hunt
                    - kr8n3r
                    - LeePorte
                    - mogds
                    - paroxp
                    - schmie
                    - whi-tw
                - name: pipeline-operator
                  github:
                    users:
                    - 0atman
                    - cadmiumcat
                    - poveyd
                    - risicle
                    - tomrosier
