---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: ghcr.io/alphagov/paas/awscli
    tag: 90f9f534ed5a3887b9c5d55a20cca6561f7de6a4
inputs:
  - name: paas-bootstrap
run:
  path: sh
  args:
    - -e
    - -c
    - -u
    - |
      if aws s3 ls "s3://${BUCKET}/${SSH_KEY_PREFIX}id_rsa" > /dev/null; then
         aws s3 rm "s3://${BUCKET}/${SSH_KEY_PREFIX}id_rsa"
      fi
      if aws s3 ls "s3://${BUCKET}/${SSH_KEY_PREFIX}id_rsa.pub" > /dev/null; then
         aws s3 rm "s3://${BUCKET}/${SSH_KEY_PREFIX}id_rsa.pub"
      fi
      echo "Done"
