---
- type: replace
  path: /instance_groups/name=bosh/jobs/name=uaa/properties/uaa/clients/bosh_exporter?
  value:
    override: true
    authorized-grant-types: client_credentials
    scope: ""
    authorities: bosh.read
    secret: ((bosh_exporter_password))

- type: replace
  path: /variables/-
  value:
    name: bosh_exporter_password
    type: password
